:root {
  --bgMain: #b3d3c7;
  --bgLight: #eeeee4;
  --button: #19dfb4;
  --button-dark: #065e4b;
  --button-delete: #da4141;
  --button-delete-dark: #a82828;
}

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Fredoka", sans-serif;
  height: 100vh;
}
.app {
  width: 110rem;
  background-color: var(--bgMain);
  margin: 5rem auto;
  padding: 3rem;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align-last: center;
}
h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align-last: center;
}
span {
  font-size: 1.7rem;
  margin-right: 0.5rem;
}
select {
  background-color: var(--bgLight);
  border: none;
  padding: 0.7rem;
  font-size: 1.4rem;
}

.container {
  display: flex;
  gap: 3rem;
}
.btn {
  background-color: var(--button);
  padding: 0.8rem 1.25rem;
  margin: 0.5rem 1rem;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.12rem;
  font-family: inherit;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-remove {
  background-color: var(--button-delete);
  color: #fff;
  padding: 0.7rem 1.25rem;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.12rem;
  font-family: inherit;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--button-dark);
  color: #fff;
  transition: all 0.25s;
}

.btn-remove:hover {
  background-color: var(--button-delete-dark);
  color: #fff;
}

.friend-box {
  width: 55%;
  font-size: 1.5rem;
}

.friend {
  background-color: var(--bgLight);
  padding: 1.65rem 1.5rem;
  border-radius: 3rem;
  margin: 1.5rem auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}
img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  /* flex-basis: rem; */
}
.friend h4 {
  font-size: 1.7rem;
}

.add-friend-form {
  width: 80%;
  background-color: var(--bgLight);
  padding: 2rem;
}

label {
  font-family: fredoka;
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: 0.5rem;
}

.form-input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.form-input-group input {
  font-size: 1.25rem;
  padding: 0.9rem;
  background-color: var(--bgLight);
  border: 1px solid var(--bgMain);
  border-radius: 1.45rem;
  width: 70%;
  align-self: start;
}
.form-input-group input:focus {
  border: 1px solid #a0eed7;
  outline: none;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.friend-details {
  background-color: var(--bgLight);
  width: 45%;
  padding: 2rem;
}
.friend-details p {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  text-align: justify;
}
